@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);

/* Header Styling */

h1, h2 {
  text-align: center;
  line-height: 100%;
  font-family: "Cinzel Decorative", Georgia, serif;
}

h1 {
  font-size: 50px;
};

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

.country {
  height: 400px;
  width: 800px;
  border: 1px dashed;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

/* Ukraine */
#ukraine div {
  height: 175px;
  width: 800px;
}

#box1 {
  background-color: blue;
}

#box2 {
  background-color: yellow;
}

/* Germany */
#germany div{
  height: 110px;
  width: 800px;
}
.black {
  background-color: black;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}

/* Lithuania */
#lithuania div {
  height: 110px;
  width: 800px;
}
.green {
  background-color: green;
}

/* Yemen */
#yemen div {
  height: 110px;
  width: 800px;
}
.redmargin{
  background-color: red;
  margin-bottom: 110px;
}
.black {
  background-color: black;
}
/* The Gambia */
#gambia div {
    height: 103px;
  width: 800px;
}
.bluemargin {
margin-top: 10px;
margin-bottom: 10px;
background-color: blue;
}
/* Yemen */

/* The Gambia */

/* Chad */
#chad div {
  height: 300px;
  width: 175px;
}
.blueleft {
  background-color: blue;
  float: left;
 }
.yellowcenter {
  background-color: yellow;
  

}
.redright {
  background-color:red;
  float:right;
}
/* France */

/* Benin */

/* UAE */

/* Denmark */

/* Norway */

/* Greece */




